.main-popol-wrap{
    background-color: #222;
    color: white;
    padding : 120px 20px;
}

.main-popol-wrap .popol-btn-wrap{
    display: flex;
    cursor:s pointer;
    font-size: 14px;
    gap : 10px;
}

.main-popol-wrap .popol-btn-wrap .popol-btn{
    border: 1px solid white;
    border-radius: 15px;
}
.main-popol-wrap .popol-btn-wrap .popol-btn p{
    margin : 5px 10px;
}